.agency-box:hover {
  box-shadow: 1px 4px 15px 3px #b3b3b3;
}
.agency-box {
  transition: box-shadow 0.5s ease-in-out;
}
.agency-box-image {
  width: 100%;
  max-height: 10rem;
  height: 8rem;
  min-height: 6rem;
  overflow: hidden;
}
.agency-building-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in;
  background: rgba(0, 0, 0, 0.5);
}
.agency-building-image:hover {
  transform: scale(1.1);
}
.agency-box-body {
  display: flex;
  width:100%
}
.agency-box-left {
  padding: 0rem 1rem;
width:30%;

}
.agency-box-details {
  padding: 0.5rem 0rem;
  text-align: center;
  border-bottom: 2px solid #dddddd;
}
.agency-box-details > p:nth-child(1) {
  font-size: 1.2rem;
  font-weight: bold;
}
.agency-box-details p:nth-child(2),
.agency-box-details p:nth-child(3),
.agency-box-details p:nth-child(4) {
  color: grey;
  font-weight: bold;
  font-size: 0.7rem;
}
.agency-box-icons {
  display: flex;
  padding-top: 1rem;

  justify-content: space-between;
  font-size: 1rem;
}
.agency-box-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1rem;
  padding: 0.4rem 0rem;
  justify-content: space-between;
  font-weight: bold;
}
.agency-box-btn1,
.agency-box-btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.6rem;
  padding: 0.7rem 1rem;
  width: 100%;
  color: white;
  font-size: 0.8rem;
}
.agency-box-btn1 {
  background-color: var(--primary);
}
.agency-box-btn2 {
  background-color: var(--third);
}
.agency-box-right {

width:70%;
}
.agency-right-box {
  margin: 1rem 0.5rem;

  border: 2px solid #dddddd;
}
.agency-right-para {
  margin: 0rem 0.5rem;
  padding: 0.5rem 0rem;
  text-align: center;
  line-height: 1.3;
  font-size: 0.85rem;
  border-bottom: 2px solid #dddddd;
}
.agency-area {
  white-space: nowrap;
  text-align: center;
  padding: 0.3rem 1.5rem;
}
.agency-expertise {
  display: flex;
  justify-content: center;
  white-space: nowrap;
  gap: 0.2rem;
  font-size: 0.7rem;
  align-items: center;
}
.agency-area > p:nth-child(1) {
  white-space: nowrap;
  font-weight: bold;
}
.agency-last {
  font-size: 0.7rem;
}
.agency-right--box-icons {
  display: flex;
  padding: 1rem 0.5rem;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1rem;
}
.agency-box-address {
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
  font-weight: bold;
  font-size: 0.7rem;
}

@media screen and (max-width: 1024px) {
  .agency-expertise {
    display: flex;
    justify-content: center;

    gap: 0.2rem;
    font-size: 0.5rem;
    align-items: center;
  }
  .agency-right--box-icons {
    padding: 1rem 0.5rem;
  }
}
