.agency-container {
  width: 100%;
  max-width: 1950px;
  margin: auto;
  padding: 5rem 11rem;
  padding-top: 2.5rem;
}
.agency-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(350px, 1fr));
  grid-template-rows: repeat(2, minmax(220px, 1fr));
  gap: 2rem;
  row-gap: 7rem;
}
