.stats-main {
  width: 100%;
  max-width: 1950px;
  margin: auto;
  padding: 2rem 10%;
  display: flex;

  background-color: #f4f6f9;
}
.stats-container {
  background-color: #f4f6f9;
}
* p {
  margin: 0;
}
.stats-left {
  flex-basis: 45%;
  padding-top: 3rem;
  padding-right: 2rem;
}
.stats-title p:nth-child(1) {
  font-size: 2.5vw;
  font-weight: bold;
}
.stats-left P:nth-child(2) {
  padding-top: 1.5rem;
  font-size: calc(0.7vw + 0.4rem);
}
.stats-numbers-sec {
  padding-top: 1.5rem;
  display: flex;
  gap: 1.5vw;
  width: 60%;
}
.stats-numbers-sec p {
  padding: 0 !important;
  margin: 0;
}
.stats-numbers-sec p:nth-child(1) {
  font-size: 2.5vw;
  color: orangered;
  font-weight: bold;
}
.stats-number p:nth-child(2) {
  font-size: 1rem;
}
.stats-right {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-basis: 55%;
}
.stats-right-background {
  width: 28vw;
  background-color: white;
  display: grid;
}
.stats-right-number {
  background-color: #ebecec;
  padding: 0.6rem;
  justify-self: flex-start;
  align-self: flex-end;
}
.stats-right-number p:nth-child(1) {
  font-size: 0.9rem;
  color: orangered;
  font-weight: bold;
}
.stats-back2 {
  width: 23vw;
}
.stats-right-background2 {
  display: grid;
  height: 25rem;
  background-color: palegoldenrod;
}
.stats-rigth-last-sec {
  padding-top: 0.5rem;
  display: flex;
}
.stats-right-bars {
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
}
.stats-right-bar {
  background-color: #c5c5c5;
  width: 0.8rem;
  height: 0.2rem;
}

@media screen and (max-width: 1300px) {
  .stats-main {
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem 5%;
  }
  .stats-left {
    width: 100%;

    flex-basis: 100%;
    text-align: center;
    padding-right: 0rem;
    padding-bottom: 2rem;
  }
  .stats-numbers-sec {
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
  }
  .stats-title p:nth-child(1) {
    font-size: 3rem;
    font-weight: bold;
  }
  .stats-left P:nth-child(2) {
    padding-top: 2rem;
    font-size: 1.2rem;
  }
  .stats-numbers-sec p:nth-child(1) {
    font-size: 2rem;
    color: orangered;
    font-weight: bold;
  }
  .stats-right {
    display: flex;
    gap: 2rem;

    align-items: center;
    flex-basis: 100%;
  }
  .stats-right-background {
    width: 100%;
    background-color: white;
    display: grid;
    padding-bottom: 1rem;
  }
  .stats-back2 {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .stats-right {
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-basis: 100%;
    flex-wrap: wrap;
  }
  .stats-right-background {
    width: 100%;
    background-color: white;
    display: grid;
    padding-bottom: 1rem;
  }
  .stats-back2 {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .stats-title p:nth-child(1) {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .stats-left P:nth-child(2) {
    padding-top: 1.5rem;
    font-size: 0.8rem;
  }
  .stats-numbers-sec p:nth-child(1) {
    font-size: 1.5rem;
    color: orangered;
    font-weight: bold;
  }
}
