.header-blog-slider-main {
  position: relative;
  display: flex;
  background-color: red !important;
  align-items: center;
}
.header-blog-slider {
  position: absolute;
  width: 40rem;
  top: -13rem;
  left: 0;
  opacity: 0;
}
.slide-blog {
  opacity: 1;
  animation: visible 3s 0.5s 1 ease-in;
}

@keyframes visible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
