.po-box-img img:hover {
  transform: scale(1.1);
}
.po-box-img img {
  transition: transform 0.3s ease-in;
  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.po-box-img {
  width: 100%;
  height: 18rem;
  overflow: hidden;
}
.pop-blogs-box {
  width: 32rem;
}
