.list-first {
  font-size: 2rem;
}
* p {
  margin: 0;
  padding: 0;
}
.list-heading-grid {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  color: var(--primary);
}
.add-lawyer {
  display: flex;
  cursor: pointer;
  gap: 1rem;
  align-items: center;
  color: white;
  font-size: 1rem;
  background-color: rgb(148, 0, 0);
  padding: 0.5rem;
}
.lawyer-limit {
  text-align: center;
  margin-top: 1.5rem;
}
.list-search {
  margin-top: 2rem;
  display: flex;

  align-items: center;
  padding: 0.5rem 2rem 1rem 2rem;
  gap: 1rem;
  box-shadow: 1px 2px 5px 2px rgb(233, 232, 232);
}
.list-search2 {
  margin-top: 2rem;
  display: flex;

  align-items: center;
  padding: 1.2rem 2rem 1rem 1.5rem;
  gap: 1rem;
  box-shadow: 1px 2px 5px 2px rgb(233, 232, 232);
}
.list-search-minimize {
  min-width: 1rem;
  height: 1rem;
  display: flex;
  position: relative;
  top: 4px;
  border: 1px solid rgb(199, 195, 195);
}
.list-minimize {
  opacity: 0;
}
.list-search-minimize:hover .list-minimize {
  opacity: 1;
}
.list-search-minimize:hover {
  border-color: var(--secondary);
}
.list-maximize {
  position: relative;
  top: -3px;
}
.list-search-name {
  flex-basis: 18%;
  display: flex;
  flex-direction: column;
}
.list-search-email {
  flex-basis: 18%;
}
.list-search-role {
  flex-basis: 18%;
}
.list-search-category {
  flex-basis: 18%;
}
.list-search-status {
  flex-basis: 18%;
}
.list-input-container {
  margin: 0;
  padding: 0;
  border: 1px solid rgb(233, 232, 232);
  border-radius: 4px;

  height: 40px;
}
.list-input-container-drop {
  margin: 0;
  padding: 0;

  height: 40px;
}
.input1 {
  width: 100%;
}
.input2 {
  width: 100%;
}
.input3 {
  width: 100%;
}
.input4 {
  width: 100%;
}
.input5 {
  width: 100%;
}
.list-input-container:hover {
  border: 1px solid #49c5b6;
}
.focusOn {
  border: 2px solid #49c5b6;
}
.newProfile
  .ant-select-show-search.ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  max-width: 100%;
  border-radius: 4px;
  height: 2.5rem;
}
