.lawyerlist-main{
 
    padding:0rem 
}
.lawyer-description{
 
     padding: 1rem 2rem;
    display: flex;
    border-bottom: 1px solid rgb(233, 231, 231);
    align-items: center;
    gap:1rem;

}
.lawyer-name,.lawyer-email,.lawyer-pos,.lawyer-cat,.lawyer-status,.lawyer-password{
    flex-basis:18%;

 
}
.lawyer-edit{
    flex-basis: 2%;
}
.lawyer-dropdown{
    padding: 1rem 2rem;
    display: flex;
    box-shadow: 0px 8px 8px -8px rgba(209, 209, 209, 0.75), 0px -8px 8px -8px rgba(197, 197, 197, 0.75);
    align-items: center;
    gap:1rem;
    background-color:#f5f3f4
}
.update-name,.update-email,.update-pos,.update-address,.update-status{
    flex-basis: 18%;
}
.update-btn{
    flex-basis: 2%;
    background-color: var(--secondary);
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:.2rem;
    font-size: .8rem;
    font-weight: bold;
    cursor: pointer;
}
.update-inputs{
    margin: 0;
    padding:0;
    border: 1px solid rgb(233, 232, 232);
    border-radius: 4px;
    
    height: 1.6rem;
    margin-bottom: .5rem;
    background-color: white;
}
.background{
    border-left: 1px solid var(--secondary);
}
.list-minimize2{
    display: block;
}
.list-minimize1{
    display: none;
}