p {
  margin: 0;
}
.order-headings p:nth-child(1) {
  font-size: 2rem;
}
.order-headings p:nth-child(2) {
  font-size: 1.2rem;
}
.order-percentage {
  padding: 3rem 0;
}
.order-percentage p {
  font-size: 2rem;
  color: var(--secondary);
  padding-bottom: 0.5rem;
}
.order-percentage-box {
  display: flex;
  gap: 1rem;
}
.percentage-box {
  background-color: var(--secondary);
  height: 0.3rem;
  width: 5rem;
}
.order-segments {
  padding-bottom: 2rem;
}
.order-required {
  display: flex;
  gap: 19rem;
}
.order-required-first p:nth-child(1) {
  font-size: 1.5rem;
  font-weight: bold;
}
.order-required-first p:nth-child(2) {
  font-size: 1.1rem;
}
.order-required-second {
  border: 2px solid rgb(206, 206, 206);

  padding: 0.3rem;
  height: 2.5rem;
}
.order-sections {
  padding-top: 2rem;
  display: grid;
  gap: 1rem;
  width: 70rem;
}
.Order-sections-first {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(206, 206, 206);
  border-left: 2px solid rgb(206, 206, 206);
  border-top: 2px solid rgb(206, 206, 206);
}
.order-section-second {
  padding: 2rem;

  border-bottom: 2px solid rgb(206, 206, 206);
  border-left: 2px solid rgb(206, 206, 206);
  border-top: 2px solid rgb(206, 206, 206);
}
.order-section-second2 {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(206, 206, 206);
  border-left: 2px solid rgb(206, 206, 206);
  border-top: 2px solid rgb(206, 206, 206);
}
.order-location-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-loc-file-input {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-file-btn {
  padding: 0.3rem 1.5rem;
  border-radius: 4px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  cursor: pointer;
}
.upload-loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid var(--primary);
  width: 1.5rem;
  height: 1.5rem;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin-right: 2rem;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.order-section-file {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(206, 206, 206);
  border-left: 2px solid rgb(206, 206, 206);
  border-top: 2px solid rgb(206, 206, 206);
}
.order-section-approve {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(206, 206, 206);
  border-left: 2px solid rgb(206, 206, 206);
  border-top: 2px solid rgb(206, 206, 206);
}
.order-caution {
  padding: 1rem;

  border: 1.5px solid rgb(206, 206, 206);

  margin-top: 3rem;
}
.order-tips > p:nth-child(1) {
  font-size: 1.5rem;
  font-weight: bold;
}
.order-tips-grid {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-template-rows: repeat(2, minmax(150px, 1fr));
}
.order-tips-box {
  font-size: 1.3rem;
}
.order-tips-box > p:nth-child(3) {
  padding-top: 1rem;
  font-size: 1rem;
  color: grey;
}
.order-tips-box > p:nth-child(2) {
  padding-top: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}
.REJECTED {
  border-right: 16px solid rgb(175, 4, 4);
}
.APPROVED {
  border-right: 16px solid green;
}
.REQUIRED {
  border-right: 16px solid rgb(175, 4, 4);
}
.PENDING {
  border-right: 16px solid rgb(6, 36, 206);
}
