.start-section {
  padding-top: 4rem;
  height: 30rem;
  width: 100%;
  background-color: #f9f9fb;
}
.subscribe-box,
.subscribe-box-blog {
  color: white;
  gap: 1rem;
  height: 73%;
  width: 90%;
  max-width: 1850px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary);
}
.subscribe-box-blog {
  margin-top: 3rem;
  background-color: white;
  color: black;
}
.subscribe-box-blog input {
  background-color: white !important;
}
.subscribe-left-section {
  padding-left: 3rem;
  width: 50%;
  height: 100%;
  vertical-align: bottom;
}
.Subscribe-image-sec {
  display: flex;
  width: 100%;
  height: 80%;
}
.left-image {
  width: 16rem;
  height: 100%;
}
.subscribe-left-section p {
  font-size: 0.8rem;
  padding-top: 1rem;
  padding-left: 2.5rem;
}
.subscribe-right-section {
  padding-top: 2rem;
  width: 50%;
}
.right-first-text {
  font-size: 1.5rem;
}
.right-second-text p {
  font-family: OpenSans-light;
  padding-top: 0.8rem;

  line-height: 1.6rem;
}
.subscribe-form {
  display: flex;
  flex-flow: column;
  padding-top: 4rem;
  width: 100%;
}
.subscribe-form-input {
  outline: none;
  border: none;
  background-color: var(--primary);
  border-bottom: 2px solid var(--secondary);
  color: var(--secondary);
  width: 90%;
  font-size: 1.2rem;
}
.subscribe-form-input::placeholder {
  color: var(--secondary);
  font-size: 1.2rem;
}
.subscribe-button {
  position: relative;
  top: 1.5rem;
  left: 3rem;
  align-self: flex-end;
  background-color: var(--secondary);
  border: none;
  padding: 1rem 2rem;
  color: white;
}
.subscribw-form-grid {
  display: flex;
  gap: 2rem;
  padding-right: 1rem;
}

@media screen and (max-width: 1300px) {
  .subscribe-left-section {
    display: none;
  }
  .subscribe-box {
    justify-content: center;
  }
  .subscribe-right-section {
    width: 100%;
    padding: 2rem;
  }
  @media screen and (max-width: 1024px) {
  }
  .subscribe-form-input {
    outline: none;
    border: none;
    background-color: var(--primary);
    border-bottom: 2px solid var(--secondary);
    color: var(--secondary);
    width: 90%;
    font-size: 0.8rem;
  }
  .subscribe-form-input::placeholder {
    color: var(--secondary);
    font-size: 0.8rem;
  }
  .subscribe-button {
    position: relative;
    top: 1rem;
    left: 3rem;
    align-self: flex-end;
    background-color: var(--secondary);
    border: none;
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    color: white;
  }
  .subscribe-box {
    height: auto;
  }
}
