.lawyers-card {
  background-color: white;
  /* box-shadow: 0px 0px 5px 1px rgb(211, 210, 210); */
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s ease-in;
}
.lawyers-card:hover {
  box-shadow: 1px 4px 15px 3px #b3b3b3;
}
.card-image {
  margin-top: 1.5rem;
  align-self: center;
  background-size: cover;
  width: calc(2rem + 3vw);
  height: calc(2rem + 3vw);
  border-radius: 50px 50px;
  overflow: hidden;
}
.card-rating {
  align-self: center;
  margin-top: 0.5rem;
  width: 25%;
  padding: 0.1rem;

  background-color: rgb(201, 201, 201);
  text-align: center;
}
.card-description {
  text-align: center;
  margin: 0;
}
.card-description > p:nth-child(1) {
  padding-top: 0.5rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}
.card-description p:nth-child(2) {
  font-weight: bold;
  font-size: 0.7rem;
}
.card-description p:nth-child(3) {
  color: #504f4f;
}
.lawyer-contact-grid {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  background-color: #eeeeee;

  border: 2px solid #dddddd;
}
.lawyer-contact-icons {
  display: flex;
  width: 100%;
  border-right: 2px solid #dddddd;
  padding: 1rem 0rem;
  justify-content: center;
}
.lawyer-contact-icons4 {
  display: flex;
  width: 100%;

  padding: 1rem 0rem;
  justify-content: center;
}
.lawyer-card-des {
  font-size: 0.8rem;

  padding: 0.5rem 1rem;
}
.card-icons {
  display: flex;
  padding: 0.8rem 6rem;
  justify-content: space-between;
  font-size: 1rem;
}
.card-btns {
  display: flex;
  justify-content: space-between;
  border: 2px solid #dddddd;
}
.messege-btn,
.messege-btn2 {
  font-size: 0.8rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 1rem 0.5rem;
  gap: 0.3rem;
  font-weight: bold;
  color: #1c8bad;
}
.messege-btn {
  border-right: 2px solid #dddddd;
}
.messege-btn p {
  white-space: nowrap;
}

.messege-btn:hover {
  background-color: #1c8bad;
  border: none;
  color: white;
}
.messege-btn2:hover {
  background-color: #1c8bad;
  border: none;
  color: white;
}
.lawyer-image {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: 70% 0%;

  transition: transform 0.5s;
}
.lawyer-image:hover {
  transform: scale(1.1);
}
.lawyer-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-bottom: 2px solid #dddddd;
}
.lawyer-area > p:nth-child(1) {
  font-weight: bold;
}
.lawyer-area > p:nth-child(3) {
  font-size: 0.8rem;
  color: #504f4f;
}
.lawyer-expertise {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  align-items: center;
  padding: 0rem 0.5rem;
  font-size: 0.8rem;
  color: #504f4f;
}
