.main-blog-container {
  width: 100%;
  max-width: 1920px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}
.header-blogs {
  height: 700px;
  background: url(./law.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header-blogs img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.header-blogs-content {
  max-width: 1700px;
  padding: 0rem 2rem;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 8rem;
  position: relative;
  height: 100%;
}

.popularBlogs-main {
  margin-top: 2rem;
}

.pop-blogs-grid {
  max-width: 1600px;
  margin: auto;

  display: flex;
  gap: 2rem;
}
.pBlogs-normal-grid {
  max-width: 1600px;
  margin: auto;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: minmax(150px, 1fr) minmax(150px, 2fr) minmax(
      150px,
      1fr
    );
  grid-template-rows: repeat(2, minmax(150px, 1fr));
  grid-template-areas:
    "box1 box2  box3"
    "box4 box2  box5";
  row-gap: 10px;
  gap: 1rem;
  background-color: white;
}

.pblogs-normal-box1 {
  grid-area: box1;
  height: 100%;
}
.pblogs-normal-box2 {
  background-color: #f7f7f7;
  grid-area: box2;
}
.pblogs-normal-box3 {
  grid-area: box3;
}
.pblogs-normal-box4 {
  grid-area: box4;
}
.pblogs-normal-box5 {
  grid-area: box5;
}
.pBlog-title {
  max-width: 1600px;
  margin: auto;
  font-weight: bold;
  position: relative;
  font-size: 1.2rem;
}
.pBlog-title::after {
  content: "";
  position: absolute;
  height: 0.5rem;
  width: 91%;
  bottom: 0.6rem;
  left: 09rem;
  border-bottom: 1px solid rgb(207, 207, 207);
  border-top: 1px solid rgb(207, 207, 207);
}
