.bcard-container {
  color: black;
  background-color: rgb(236, 236, 236);
  position: relative;
}
.bcard-time {
  line-height: normal;
  padding: 0;
  margin: 0;
  background-color: var(--primary);
  position: absolute;
  width: 3.5rem;
  text-align: center;
  padding: 0.3rem 0rem;
  color: white;
}
.bcard-time p:nth-child(2) {
  font-weight: bold;
  font-size: 1.5rem;
}
.bcard-time p:nth-child(1),
.bcard-time p:nth-child(3) {
  font-size: 0.8rem;
}

.blogAction {
  display: flex;
  align-items: center;
  position: relative;
  top: 0.2rem;
  left: 1rem;
  justify-content: center;
  outline: none;
}
.blogAction button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}
.bcard-pic {
  min-height: 13rem;
  height: 15rem;
  max-width: 30rem;
  max-height: 17rem;
}

.bcard-pic img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.bcard-middle {
  position: relative;

  padding-bottom: 0rem;
}
.bcard-middle-first {
  padding: 0.7rem 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.5rem;
}
.bcard-image p {
  font-size: 1rem;
}
.bcard-lower {
  padding: 0.5rem 1rem;
  display: flex;
  background-color: var(--primary);
  justify-content: space-between;
  color: white;
}
.bcard-desc {
  padding: 0.5rem 1rem;
}
.bcard-image {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.bcard-round {
  height: 2.5rem;
  width: 2.5rem;
  background-color: white;
  border-radius: 50px 50px;
}
.bcard-round-image {
  height: 100%;
  width: 100%;
  border-radius: 50px 50px;
  object-fit: cover;
}
.bcard-middle > P {
  padding-top: 0.5rem;
}
.bcard-options {
  position: absolute;
  background-color: rgb(255, 255, 255);
  right: 2rem;
  top: 3.5rem;
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
  transform-origin: top right;
}
.active {
  transform: scale(1);
}
