.lawfirm-view-lower {
  padding: 0rem 2rem;
  position: relative;
  top: -30px;
}
.lawfirm-view-lower-top {
  display: flex;
  gap: 2rem;
  border-radius: 8px;
}
.lawfirm-view-lower-top-btns {
  display: flex;
  gap: 0.3rem;
  background: white;
  border-radius: 4px;
  padding: 0.3rem;
}
.lawfirm-view-lower-btns,
.lawfirm-view-lower-optns {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.9rem 3rem;
  cursor: pointer;
  border-radius: 4px;
  color: var(--primary);
}

.lawfirm-view-lower-optns {
  background-color: white;
}

.lawfirm-view-lower-optns-wrapper {
  display: flex;
  gap: 0.3rem;
  background: white;
  border-radius: 4px;
  padding: 0.3rem;
}
.lawfirm-view-lower-grid {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}
.blogs,
.following,
.lawyers,
.reviews,
.general {
  background-color: var(--primary);
  color: azure !important;
}
.lawfirm-view-action {
  height: 6rem;
  width: 100%;
  background-color: var(--primary);
}
.lawfirm-view-action-btn {
  display: flex;
  align-items: center;

  gap: 1rem;
}
.lawfirm-view-action-container {
  width: 100%;
  height: 100%;
  max-width: 1570px;
  margin: auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
